
* {
	padding: 0;
	margin: 0;
}

.containerBg {
	height: 1020px;
	display: -webkit-flex;
	display: flex;

}


/***导航********/
.nav {
	width: 350px;
	height: 100%;
	display: -webkit-flex;
	display: flex;
}
	/********一级导航，图标*************/
	.navIcon {
		width: 100px;
		height: 1020px;
		background-color: #1d2531;	

		display: flex;
		flex-direction: column;
		justify-content: space-between;;
		
	}

	.iconList li {
		height: 60px;
		width: 60px;
		margin: 20px;
		list-style: none;
		position: relative;
	}

	

	
	.iconList li img{
		border-radius: 50%;
	}

	.iconList img:hover {
		cursor: pointer;
	}


	.select::before {
		content: "";
		display: block;
		height: 4px;
		width: 3px;
		background-color: #2399f1;
		border-radius: 0 50% 50% 0;
		box-shadow: 0 0 10px #2399f1;
		position: absolute;
		left: -20px;
		top: 50%;
		margin-top: -2px;
	}




	/****设置******/
	.set {
		height: 40px;
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	.set img {
		height: 16px;
		width: 16px;
		
	}

	.set img:hover {
		cursor: pointer;
	}





/*****2级导航****列表*/
.navContentContainer {
	width: 250px;
	height: 100%;
	background-color: #222c3c;
	color: white;

}

	.navContent {
		list-style: none;
		padding: 0px 30px 25px;
		
	}

	.navContent li{


		height: 35px;
		/*margin-top: 20px;*/

		font-size: 14px;
		line-height: 35px;
		position: relative;
	}
	
	.navContent li:first-child {
		margin-top: 0;
		font-size: 12px;
		color: rgba(255,255,255,.2);
	}

	.selectLi::before {
		content: "";
		display: block;
		height: 4px;
		width: 3px;
		background-color: #2399f1;
		border-radius: 0 50% 50% 0;
		box-shadow: 0 0 10px #2399f1;
		position: absolute;
		left: -30px;
		top: 50%;
		margin-top: -2px;
	}

	.mes::after {
		content: "50";
		display: block;
		height: 25px;
		width: 30px;
		text-align: center;
		line-height: 25px;
		border-radius: 40%;
		background-color: #1d94ed;

		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -12px;
	}

	.navContent:before {
		content: "";
		height: 1px;
		background: rgba(255,255,255,.2);
		margin-bottom: 25px;
		display: block;
	}













.content {
	height: 1020px;
	width: 100px;
	background-color: pink;
	flex-grow: 1;
}