
/**reset**/
* {
	margin: 0;
	padding: 0;
	text-align: center;
}



/**header**/
	/*背景设置*/
.hea {
	background: url(img/headerBackground.jpg) center no-repeat;
	background-size: cover;
	height: 990px;
	overflow: hidden;
}



.ti {
	width: 800px;
	margin: 210px auto;
	background-color: red;
	
}
